body {
  background-color: #626456;
  font-family: "Lexend Deca", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e0ff9a;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header span {
  font-size: 24px;
  padding-right: 15px;
  color: #ff0;
  text-shadow: 1px 1px #333, -1px 1px #333, -1px -1px #333, 1px -1px #333;
}

#header a {
  padding-left: 15px;
}

#container {
  background-color: #e0ff9a;
  box-shadow: 2px 2px 5px#000;
  width: 40%;
  min-width: 300px;
  border-radius: 10px;
  padding: 3%;
  margin-top: 25px;
}

#container h1 {
  color: #fe904a;
  font-size: 35px;
  text-shadow: 1px 1px #333, -1px 1px #333, -1px -1px #333, 1px -1px #333;
  margin: 0;
}

#createdBy {
  color: #333;
  font-size: 20px;
}

#inputContainer {
  display: flex;
  margin: 10px 0;
}

#toDoInput {
  outline: none;
  width: 100%;
  font-size: 20px;
  font-family: "Lexend Deca";
  border: 1px solid #333;
  border-radius: 4px;
  padding: 0 10px;
}

#addButton {
  display: flex;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  background: #fe904a;
  color: #fff;
  font-size: 18px;
  border: 1px solid #333;
  text-shadow: 1px 1px #333, -1px 1px #333, -1px -1px #333, 1px -1px #333;
  padding: 0 10px;
}

#toDoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.toDoShell {
  min-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  border: 1px dashed #333;
  text-transform: capitalize;
  background-color: #eefdce;
}

.toDoText,
.completeText {
  display: flex;
  word-break: break-all;
}

.toDoShell input[type="checkbox"] {
  margin: 0 15px;
}

.completeText {
  color: #a9caab;
  text-decoration: line-through;
}

/* Hide the browser's default checkbox */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  height: 20px;
  min-width: 20px;
  border: 2px solid #fe904a;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark.checked {
  border: 2px solid #0c0;
}
